.product-thumb {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: calc(100% + 10px) auto !important;
    height: 100px;
    transition: all 0.5s;
    width: 100%;
}
.product-thumb a{
    position: absolute;
}
